<% include partials/header %>

<div class='container'>
  <header class='jumbotron'>
    <div class='container'>
      <h1>Boston Software Jobs Database</h1>
      <p>This website lists the top software employers in the greater Boston, MA area and allows students and 
        alumni of CodeSquad at Lena Park to record their experiences with each company.</p>
      <p><a href="/companies">View all companies</a></p>
    </div>
  </header>

</div> <!--  End container -->
<% include partials/footer %>