<% include partials/header %>

<h1 class='newCompanyHeader'>Create a new company</h1>

<div class='row'>
  <div class='newCompaniesForm'>
    <form action="/companies" method="POST">
      <input type='text' placeholder='company name' name='name' class='form-control'>
      <input type='text' placeholder='logo URL' name='image' class='form-control'>
      <input type='text' placeholder='description' name='description' class='form-control'>
      <button class='btn btn-lg btn-default'>Submit!</button>
    </form>
  </div>
</div>

<% include partials/footer %>